
.AmdtInserted, .AmdtInserted td, .AmdtInserted th, .deleted, .deleted td, .deleted th {
}
.AmdtInsertedAIRAC, .AmdtInsertedAIRAC td, .added th , .added, .added td, .addedAIRAC th ,.addedAIRAC, .addedAIRAC td, .addedAIRAC th {
	background-color: #ffcccc !important;
}
.AmdtInsertedNon-AIRAC, .AmdtInsertedNon-AIRAC td, .AmdtInsertedNon-AIRAC th, .addedNon-AIRAC th ,.addedNon-AIRAC, .addedNon-AIRAC td, .addedNon-AIRAC th {
	background-color: #ccccff !important;
}
.AmdtDeletedAIRAC, .AmdtDeletedAIRAC td, .AmdtDeletedAIRAC th ,.deleted, .deleted td, .deleted th,.deletedAIRAC, .deletedAIRAC td, .deletedAIRAC th {
	background-color: #cc9999 !important;
}
.AmdtDeletedNon-AIRAC, .AmdtDeletedNon-AIRAC td, .AmdtDeletedNon-AIRAC th, .deletedNon-AIRAC, .deletedNon-AIRAC td, .deletedNon-AIRAC th  {
	background-color: #9999cc !important;
}
ins.AmdtInsertedAIRAC, ins.AmdtInsertedNon-AIRAC ,ins.added, ins.addedAIRAC, ins.addedNon-AIRAC{
	text-decoration: none; /* ins is underlined by default; value should be "inherit", but IE5.5 is broken */
}
.AmdtDeleted, .deleted, .deletedAIRAC, .deletedNon-AIRAC  {
	text-decoration: line-through;
}

.selectedSection {
    border: solid red 2px !important;
}

.deleted a:focus, .deletedAIRAC a:focus, .deletedNon-AIRAC a:focus { 
    outline: none; 
}
.added a:focus, .addedAIRAC a:focus, .addedNon-AIRAC a:focus{ 
    outline: none; 
}