:root {
  --T1_default_font: 13px;
  --T2_default_font: 13px;
  --T3_default_font: 13px;
  --T4_default_font: 13px;
  --T5_default_font: 13px;
  --T6_default_font: 13px;
  --P1_default_font: 13px;
  --P2_default_font: 13px;
  --P3_default_font: 13px;
  --P4_default_font: 13px;
  --P5_default_font: 13px;
  --P6_default_font: 13px;
  --PartTitle_font :16px;
  --SectionTitle_font :15px;
  --SubSectionTitle_font :14px;
  --table-font-size: 13px;
  --font-family: Arial, Arial Unicode MS, verdana, Helvetica, sans-serif; /* Note: Verdana doesn't contain some Unicode characters that we need */
}

/*
   ------------------------------------------------------------------------------------------------
   The GEN/ENR/AD part, section, subsection titles. 
   This set only fonts. Other style are into other css file
   ------------------------------------------------------------------------------------------------
*/
/* Part title */
.SectionStart {
  font-size: var(--PartTitle_font) !important;
  font-family:var(--font-family) !important;
}
/* Generic title */
.Title {
  font-family:var(--font-family) !important;
}
/* Section title */
h3.Title .Numbering {
  font-size: var(--SectionTitle_font) !important;
}
/* SubSection title */
h4.Title .Numbering {
  font-size: var(--SubSectionTitle_font) !important;
}

/*
   ------------------------------------------------------------------------------------------------
   Dinamic and Static Table
   This set only fonts and padding. Other styles are into other css files
   ------------------------------------------------------------------------------------------------
*/
/** Per tutte le TABELLE interne STATICHE e DINAMICHE che non siano TABELLE di tipo TITOLI **/
table.IndSubTable:not([class*='_title']) *{
	font-size: var(--table-font-size) !important;
	font-family:var(--font-family) !important;
}
/** Padding del testo nelle celle (distanza dai bordi) **/
table.IndSubTable:not([class*='_title']) td,th{
	border-collapse:collapse;
	padding: 3px !important;
}
/** Per tutte le TABELLE interne di tipo TITOLI (sono i titoli messi da template birt)**/
table.IndSubTable[class*='_title'] *{
	font-size: var(--T1_default_font) !important;
	font-family:var(--font-family) !important;
}
/*
   ------------------------------------------------------------------------------------------------
   DEFAULT TITOLE CONTENTPART
   This set only fonts. Other styles are into other css files
   ------------------------------------------------------------------------------------------------
*/

/* E' importante mantenere sia lo stile TX_default *, che TX_deafult  senza asterisco */
.T1_default *, .T1_default{
   font-size: var(--T1_default_font) !important;
   font-family: var(--font-family) !important;
}
.T2_default *, .T2_default{
   font-size: var(--T2_default_font) !important;
   font-family: var(--font-family) !important;
}
.T3_default *, .T3_default{
   font-size: var(--T3_default_font) !important;
   font-family: var(--font-family) !important;
}
.T4_default *, .T4_default{
   font-size: var(--T4_default_font) !important;
   font-family: var(--font-family) !important;
}
.T5_default *, .T5_default{
   font-size: var(--T5_default_font) !important;
   font-family: var(--font-family) !important;
}
.T6_default *, .T6_default{
   font-size: var(--T6_default_font) !important;
   font-family: var(--font-family) !important;
}

/*
   ------------------------------------------------------------------------------------------------
   DEFAULT PARAGRAPH CONTENTPART
   This set only fonts. Other styles are into other css files
   ------------------------------------------------------------------------------------------------
*/

/* E' importante mantenere sia lo stile TX_default *, che TX_deafult  senza asterisco */
.P1_default *, .P1_default{
	font-size: var(--P1_default_font) !important;
	font-family: var(--font-family) !important;
}

.P2_default *, .P2_default{
	font-size: var(--P2_default_font) !important;
	font-family: var(--font-family) !important;
}
/*Paragraph-text */
.P3_default *, .P3_default{
	font-size: var(--P3_default_font) !important;
	font-family: var(--font-family) !important;
}
/*Paragraph-text */
.P4_default *, .P4_default{
	font-size: var(--P4_default_font) !important;
	font-family: var(--font-family) !important;
}
/*Paragraph-text */
.P5_default *, .P5_default{
	font-size: var(--P5_default_font) !important;
	font-family: var(--font-family) !important;
}
/*Paragraph-text */
.P6_default *, .P6_default{
	font-size: var(--P6_default_font) !important;
	font-family: var(--font-family) !important;
}